.main-bg{
    background-color: black;

}
.center {
     
  margin: auto;
  width: 50%;
  padding: 10px;
  }
.logo-bg{
    background-size: cover;
    width: 100 vh;
    background-image: url("blur-test.jpeg") ;
    border-radius: 5px;
    border-color:;
    border-style: solid;
    text-align: center;

}