.main-bg{
    background-color: black;
    
    background-size: cover;

}
.center {
     
  margin: auto;
  width: 50%;
  padding: 10px;
  }
.logo-bg{
    background-size: cover;
    width: 100%;
    background-image: url("blur-test.jpeg") ;
    background-size: cover;
    border-radius: 5px;
    
    border-style: solid;
    text-align: center;

}
.btn{
 border-radius: 8px;
 border-color: white;
 border-width: 8px;
 border-style: dashed;
 color:white;
 font-family: Georgia, serif; 
 font-size: 70px;
font-weight: bold;
 background-color: black;
margin-top: 50px;
}
#preloader{
  background:#000 url("loader2.gif") no-repeat center center ;
  background-size: 80%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}